@charset "UTF-8";

@import url(https://images.app.goo.gl/K5MfWL3b4QtNKQnBA);


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body {
    min-height: 100vh;
    background-color: azure;
}
body {
    height: 100vh;
    background-color: black;
    background-image: url('/imagens/musicasground.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    }